.navigation {
    width: 100%;
    padding: 20px 40px;
    background-color: aliceblue;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 2000;
}

.navigation-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .logo {
    padding: 8px 10px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 8px;
    display: flex;
    transition: 0.3s;
}

.navigation-content .shortcuts-mobile {
    display: none;
}

.navigation-content ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navigation-content ul li {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 8px;
    transition: 0.3s;
}

.navigation-content ul li a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    color: white;
    font-weight: 600;
}

.cart, .cart-empty {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: blueviolet;
    font-size: 16px;
    font-weight: 600;
    color: aliceblue;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.cart:hover, .cart-empty:hover{
    background-color: rgb(78, 0, 151);
}
.cart {
    justify-content: space-between;
    width: 70px;
}
.cart-empty{
    width: 50px;
    justify-content: center;
}
.navigation-content ul li:hover,
.navigation .logo:hover,
.cart:hover {
    background-color: rgb(78, 0, 151);
}

.cart .icon-cart svg, .cart-empty .icon-cart svg{
    color: aliceblue;
}
@media screen and (max-width: 768px) {
    .navigation ul{
        font-size: 12px;
    }
    .cart {
        width: 50px;
        position: relative;
        transition: 0.3s;
    }
    .navigation .logo {
        padding: 5px 10px;
    }
    .counter{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        right: 0;
        transform: translateX(50%) translateY(-50%);
        z-index: 4000;
        font-size: 12px;
        padding: 1px 5px;
        border-radius: 50%;
        background-color: red;
        animation: counter-animation 1s ease-in-out;
    }

    @keyframes counter-animation {
        0%{
            top: -10px;
        }
        25%{
            top: 8px
        }
        50%{
            top: -5px
        }
        75%{
            top: 3px
        }
        100%{
            top: 0;
        }
    }
}

@media screen and (max-width: 520px) {
    .navigation-content ul{
        gap: 5px;
    }
}
@media screen and (max-width: 486px) {
    .navigation {
        padding: 20px 20px 10px 20px;
    }

    .navigation-content .shortcuts-desktop {
        display: none;
    }

    .navigation-content .shortcuts-mobile {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        position: absolute;
        top: 20px;
        right: 50%;
        z-index: 333;
        transform: translateX(50%);
        overflow: hidden;
        background-color: transparent;
        border-radius: 8px;
    }

    #pages {
        display: none;
    }
    .input{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: blueviolet;
        border-radius: 8px;
        padding: 5px 8px;
        cursor: pointer;
    }

    label {
        padding: 0px 10px 5px 10px;
        border-radius: 8px;
        color: whitesmoke;
        font-weight: 600;
        font-size: 12px;
        height: 30px;
        transition: 0.3s;
        background-color: aliceblue;
    }

    label span:hover{
        background-color: rgb(78, 0, 151);
    }

    label ul {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        font-size: 12px;
    }

    #pages:checked + label {
        height: 170px;
        box-shadow: 2px 2px 6px -1px #00000060;
    }

    .cart {
        width: 50px;
        position: relative;
    }
    .navigation .logo {
        padding: 5px 10px;
    }
    .counter{
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(50%) translateY(-50%);
        z-index: 4000;
        font-size: 15px;
        padding: 1px 5px;
        border-radius: 50%;
        background-color: red;
    }
}